<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Uploader</title>
</head>
<body>
    <%- include("partials/header.ejs") %>

    <h1>Placeholder</h1>
    <% if (locals.currentUser) { %>
        <h1>You are logged in, <%= currentUser.username %>!</h1>
        <a href="/log-out">Log Out</a>
    <% } %>
    
</body>
</html>