<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Folder</title>
</head>
<body>
    <%- include("partials/errors.ejs") %>
    <form action="/new-folder" method="post">
        <label for="name">Folder name: </label>
        <input type="text" name="name" id="name">
        <button type="submit">Create folder</button>
    </form>
    
</body>
</html>