<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
</head>
<body>
    <%- include("partials/header.ejs") %>

    <%- include("partials/errors.ejs") %>
    <form action="/sign-up" method="post">
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" required>
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" required>
        <label for="confPassword">Confirm password: </label>
        <input type="password" name="confPassword" id="confPassword" required>
        <button type="submit">Sign up</button>
    </form>
    
</body>
</html>