<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Storage</title>
    <link rel="stylesheet" href="/styles/folders-files.css">
</head>
<body>
    <%- include("partials/header.ejs") %>

    <h1>My Storage</h1>
    <a href="/storage/new-folder"><button>New Folder</button></a>
    <% if (locals.folders) {%>
        <div class="foldersContainer">
            <% folders.forEach(function(folder) { %>
                <a class="folder" href="/storage/folder/<%= folder.id %>">
                    <img src="/img/folder.svg" alt="folder">
                    <h3><%= folder.name %></h3>
                </a>
            <% }); %>
        </div>
    <% } %>
</body>
</html>