<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Storage</title>
</head>
<body>
    <h1>My Storage</h1>
    <a href="/storage/new-folder"><button>New Folder</button></a>
    <% if (locals.folders) {%>
        <div class="foldersContainer">
            <% folders.forEach(function(folder) { %>
                <div class="folder">
                    <a href="/storage/folder/<%= folder.id %>">
                        <%= folder.name %>
                    </a>
                </div>
            <% }); %>
        </div>
    <% } %>
</body>
</html>